*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
.str_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    font-family: 'Gro';

    font-size: 20px;
}
.str_header a{
    color: rgb(0, 0, 0);
}
.str_header:first-child a:hover{
    color: rgb(255, 0, 0);
    transition: .5s;
}


.str_header img{
    height: 80px;
}
.str_2_right a{
    margin-left: 20px;
}
.str_2_right a {
    position: relative;
}
.str_2_right a::after{
    display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #ff0000; 
	content: "";
	transition: width 0.5s ease-out; 
}
.str_2_right a:hover:after,
a:focus:after{
    width: 100%;
}
@font-face {
    font-family: 'HG';
    src: url('../fonts/Halo_Grotesk.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gro';
    src: url('../fonts/Gropled.ttf');
    font-weight: normal;
    font-style: normal;
}



